body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  height: 72px;
  background: rgb(32, 61, 93);
  justify-content: space-between;
  padding: 0px 16px;
  font-size: 12px;
}
.upper {
  background: rgb(32, 61, 93);
}
.header-links {
  display: flex;
  align-items: center;
  font-weight: 900;
  gap: 30px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.general {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
}
.page-description,
.main-img {
  flex-basis: 50%; /* make the child divs take up 50% of the space */
}
.main-img img {
  width: 100%; /* make the image take up 100% of its container's width */
  height: auto; /* make the image keep its aspect ratio */
}
.page-description h1 {
  font-weight: bolder;
  padding: 0px;
  font-size: 48px;
  margin: 0;
}
.page-description p {
  margin: 0 0;
  padding-bottom: 10px;
}
.page-description {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.page-description button {
  background: #3882f6;
  color: white;
  padding: 6px 16px;
  margin: 0;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 900;
}
.information h1 {
  font-size: 36px;
  color: #1f2937;
}
.information p {
  display: flex;
  text-align: center;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  gap: 20px;
}
